* {
  margin: 0px;
  padding: 0px;
}
#contenedor {
  width: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  background-color: #a8a8a8;
  text-align: end;
  padding: 10px;
}
a:link {
  color: black;
}
#imagenHtml5 {
  width: 200px;
  margin-left: 10%;
  margin-bottom: 10px;
}
#imagenCss3 {
  margin-bottom: 20px;
  margin-top: 20px;
}
#contenido2 {
  margin-bottom: 50px;
}

footer {
  background-color: gray;
  text-align: center;
  clear: both;
}
